@media only screen and (max-width: 768px) {
    div {
      width: 100%;
    }
  }
header{
    display: center;
    text-align: center;
} 

.main{
    background-image: url("images/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.about{
    display: center;
    text-align: center;
}
#services{
    display: center;
    text-align: center;
    background-image: url("images/assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
h4{
    display: center;
    text-align: center;
}
.col-md-4 >img{
    margin-right: 6%;
}
#work{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work1{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work2{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work3{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work4{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work5{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work6{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work7{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.wor, .wor1, .wor2, .wor3, .wor4, .wor5, .wor6, .wor7{
    text-transform: uppercase;
    font-size: 30px;
    color: royalblue;
    font-family: sans-serif;

}
.row {
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}
h6{
    display: center;
    text-align: center; 
}
#user{
    background-color: transparent;
    border-color: grey;
    border-style: solid;
    top: 150px;
    left: 250px;
    
}
#user1{
    background-color: transparent;
    border-color: grey;
    border-style: solid;
    top: 150px;
    left: 650px;
}
#user2{
    top: 200px;
    left: 250px;
    background-color: transparent;
    border-color: grey;
    border-style: solid;
}
.row >form{
    margin-left: 40%;
    margin-right: 40%;
} 
#submit{  
    text-transform: uppercase;
    text-decoration: none;
    width: 190px;
    margin: 4px 2px; 
    margin-left: 40%;
}
::placeholder{
    color: white;
}
.form-control{
    margin-left: 30%;
}
#submit:hover{
    box-shadow: 0 0 10px rgba(77, 89, 245, 0.986), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgb(12, 209, 111);
  color: rgba(20, 190, 139, 0.808);
 
}
#contact {
    background-image:url("images/assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: center;
    text-align: center;
}
footer{
    background-color: white;
   font-style: italic;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}