@media only screen and (max-width: 768px) {
    div {
      width: 100%;
    }
  }
header{
    display: center;
    text-align: center;
} 

.main{
    background-image: url("images/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.about{
    display: center;
    text-align: center;
}